{% extends 'base(back).html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block body %}
    <h1>Demander un congé</h1>

    {{ include('calendar/_form.html.twig') }}

    <a href="{{ path('app_calendar_indexConge') }}">Retour à la liste</a>
{% endblock %}
