
{% extends 'base(back).html.twig' %}


{% block body %}
<body class="togle-sidebar-btn">
 

   <main id="main" class="main">

    <div class="pagetitle">
      <h1>General Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
<title>Consultation</title>
    <h1>Edit Consultation</h1>

{{ include('consultation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_consultation_index') }}">Retour à la liste</a>

    {{ include('consultation/_delete_form.html.twig') }}

       

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->


</body>

{% endblock %}



