{% extends 'base(back).html.twig' %}

{% block title %}Modifier Produit{% endblock %}

{% block body %}
    <h1>Modifier Produit</h1>

{% for message in app.flashes('notification') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}
    {{ include('produit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_produit_index') }}">Retour à la liste</a>

{% endblock %}
