{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>The page you are activate yet please wait .</h2>
        <a href="{{ path('app_logout') }}">back to login</a>
      
        <div class="credits">
        </div>
      </section>

    </div><
{% endblock %}